#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=eDocuments
Comment=a simple and productive personal documents library
Exec=/home/sbrunner/.py3/bin/edocuments-gui
#Terminal=false
#X-MultipleArgs=false
Type=Application
Icon=edocuments
Categories=Office;Utility;
#StartupNotify=true
